html
    head
        title hello NODE

        body
            div(style="text-align:center ")
                h1= "hello "+ name
            div(style="text-align:center")
                form(action="/" method="POST")
                //-post 방식으로
                br
                input(type = "text" name ="email"placeholder ="E-mail")
                brbr
                input(type ="text" name ="password" placeholder = "Password")
                brbr
                button(type="submit")LOGIN